.review-content {
    width: 571px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 8px 25px 8px 8px;
    display: flex;
    align-items: center;
}

.review-content img {
    width: 91px;
    height: 91px;
    border-radius: 6px;
}

.review-info {
    flex-grow: 1;
}

.review-info .title {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #1C2B35;
    margin: 0 0 0 25px;
}

.review-info p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 3px 0;
    letter-spacing: 0.0025em;
    color: #1C2B35;
    margin: 0 25px;
}
.review-info .orange{
    color: #FF9900;
    font-size: 18px;
    padding: 0 0 0 5px;
}

/* ~ Button section styles */
.delete-btn{
    background: rgba(235, 87, 87, 0.3);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon{
    color: #EB5757;
    font-size: 27px;
}